<div class="messages chat-messages-list">
        {% for a in messages %}
            {% if a.user1 == request.user.pk %}
            <h5 class="message user_message user-bubble">{{ a.message }}</h5>
            {% else %}
            <h5 class="message ai-bubble">{{ a.message }}</h5>
            {% endif %}
        {% endfor %}
</div>

<div hx-get="{% url 'get_message' message %}"
     hx-target="#messages"
     hx-swap="beforeend"
     hx-trigger="load"></div>

<div class="chat-input chat-input-card"
     id="chat-input"
     hx-swap-oob="true">
    <form hx-post="{% url 'add_message'  %}"
          hx-target="#messages"
          hx-swap="beforeend"
          class="chat-form">
          {% csrf_token %}
          <input name="message"
                 type="text"
                 id="chat_input"
                 maxlength="200"
                 placeholder="Зачекайте, ШІ генерує відповідь..."
                 readonly>

        <button id="chat_button" type="submit">Відправити</button>
    </form>
</div>
