
    <div class="messages">
            {% for a in messages %}
                {% if a.user1 == request.user.pk %}
                <h5 class="message user_message">{{ a.message }}</h5>
                {% else %}
                <h5 class="message">{{ a.message }}</h5>
                {% endif %}
            {% endfor %}
    </div>

    <div class="chat-input"
         id="chat-input"
         hx-swap-oob="true">
        <form hx-post="{% url 'add_message'  %}"
              hx-target="#messages"
              hx-swap="beforeend">
              {% csrf_token %}
              <input name="message"
                     type="text"
                     placeholder="    Введіть питання"
                     id="chat_input"
                     maxlength="200">

            <button id="chat_button" type="submit">Відправити</button>
        </form>
        {% if messages.count > 0 %}
        <button class="clear_chat"
                hx-get="{% url 'clear_chat' %}"
                hx-target="#messages"
                hx-swap="innerHTML">Очистити чат</button>
        {% endif %}
    </div>

<script>
    {% if messages.count > 6 %}
window.onload = function() {
    window.scrollTo(0, document.body.scrollHeight);
  };
{% endif %}
button=document.querySelector("#chat_button")
input=document.querySelector("#chat_input")
input.oninput=function(){
    if(this.value==="") return button.style.display="none"
    button.style.display="inline-block"
}
</script>

