
    <div class="messages">
            {% for a in messages %}
                {% if a.user1 == request.user.pk %}
                <h5 class="message user_message">{{ a.message }}</h5>
                {% else %}
                <h5 class="message">{{ a.message }}</h5>
                {% endif %}
            {% endfor %}
    </div>

    <form hx-post="{% url 'add_message'  %}"
          hx-target="#chat"
          hx-swap="innerHTML">
          {% csrf_token %}
          <input name="message"
                 type="text"
                 id="chat_input">

        <button id="chat_button" type="submit">Відправити</button>
    </form>
<script>
        button=document.querySelector("#chat_button")
        input=document.querySelector("#chat_input")
        input.oninput=function(){
            if(this.value==="") return button.style.display="none"
            button.style.display="inline-block"
        }
</script>