{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Чат{% endblock %}
{% block content %}
<div class="chat" id="chat">
{% if messages %}
    {% for a in messages %}
        {% if a.user1 == request.user.pk %}
        <h5 class="user_messages">{{ a.message }}</h5>
        {% else %}
        <h5 class="replies">{{ a.message }}</h5>
        {% endif %}
    {% endfor %}

{% else %}
    <h1>Вітаємо, це наша ШІ підтримка, напишіть ваш перший запит!</h1>
{% endif %}
    <form hx-post="{% url 'add_message'  %}"
          hx-target="#chat"
          hx-swap="innerHTML">
          {% csrf_token %}
          <input name="message"
                 type="text"
                 id="chat_input">

        <button id="chat_button" type="submit">Відправити</button>
    </form>
</div>


{% endblock %}
{% block script %}
{% if messages.count > 10 %}
window.onload = function() {
    window.scrollTo(0, document.body.scrollHeight);
  };
{% endif %}
button=document.querySelector("#chat_button")
input=document.querySelector("#chat_input")
input.oninput=function(){
    if(this.value==="") return button.style.display="none"
    button.style.display="inline-block"
}
{% endblock %}