{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Чат{% endblock %}
{% block content %}
{% if messages %}
<div id="loader" class="htmx-indicator">Завантаження...</div>
<div hx-get="{% url 'get_messages' page %}"
         hx-target="#chat"
         hx-indicator="#loader"
         hx-swap="afterend"
         hx-trigger="load"></div>
<div class="chat" id="chat"></div>
{% else %}
    <h1>Вітаємо, це наша ШІ підтримка, напишіть ваш перший запит!</h1>
{% endif %}
<div id="messages"></div>
<div class="chat-input"
     id="chat-input"
     hx-swap-oob="true">
    <form hx-post="{% url 'add_message'  %}"
          hx-target="#messages"
          hx-swap="innerHTML">
          {% csrf_token %}
          <input name="message"
                 type="text"
                 placeholder="    Введіть питання"
                 id="chat_input"
                 maxlength="200">

        <button id="chat_button" type="submit">Відправити</button>
    </form>
    {% if messages.count > 0 %}
    <button class="clear_chat"
            hx-get="{% url 'clear_chat' %}"
            hx-target="#chat"
            hx-swap="innerHTML">Очистити чат</button>
    {% endif %}
</div>

{% endblock %}
{% block script %}
{% if messages.count > 6 %}
window.onload = function() {
    window.scrollTo(0, document.body.scrollHeight);
  };
{% endif %}
button=document.querySelector("#chat_button")
input=document.querySelector("#chat_input")
input.oninput=function(){
    if(this.value==="") return button.style.display="none"
    button.style.display="inline-block"
}
{% endblock %}