<div class="frameworks">
        {% for a in categories %}
            {% if a.cat.slug == frameworks %}
                {{ a.name }}
                    {% if not a.id in saved and user.is_authenticated %}
                        <button class=""
                                name="update_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML">Зберегти</button>
                    {% elif a.id in saved and user.is_authenticated %}
                        <button class=""
                                name="delete_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML">Видалити</button>
                    {% elif not user.is_authenticated %}
                        <button class=""><a href="{% url 'login' %}">Зберегти</a></button>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="libraries">
         {% for a in categories %}
            {% if a.cat.slug == libraries %}
                {{ a.name }}
                    {% if not a.id in saved and user.is_authenticated %}
                        <button class=""
                                name="update_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML">Зберегти</button>
                    {% elif a.id in saved and user.is_authenticated %}
                        <button class=""
                                name="delete_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML">Видалити</button>
                    {% elif not user.is_authenticated %}
                        <button class=""><a href="{% url 'login' %}">Зберегти</a></button>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </div>