{% if comment %}
        {% for m in comment %}
            <h3>{{ m.username }}</h3>
            <h2>{{ m.comment }}</h2>
            <div id="like_comment">
            {% if m.id in likes_com %}
                <button hx-get="{% url 'delete_like_on_comment' m.pk %}"
                        hx-target="#like-comment-{{ m.pk }}"
                        hx-swap="innerHTML">Прибрати лайк {{ m.all_likes }}</button>
            {% elif m.id not in likes_com %}
                <button hx-get="{% url 'like_comment' m.pk %}"
                        hx-target="#like-comment-{{ m.pk }}"
                        hx-swap="innerHTML">Вподобати {{ m.all_likes }}</button>
            {% elif not user.is_authenticated %}
             <form action="{% url 'login' %}">
                 <button>Вподобати {{ m.all_likes }}</button>
             </form>
            {% endif %}
            </div>
            {% if user.is_authenticated %}
            <button hx-get="{% url 'get_input_for_reply' m.pk %}"
                    hx-target="#reply-comment-{{ m.pk }}"
                    hx-swap="innerHTML">Відповісти</button>

            {% else %}
            <form action="{% url 'login' %}">
                <button class="" type="submit">Відповісти</button>
            </form>
            {% endif %}
            {% if m.pk in comment_user %}
                <button hx-get="{% url 'delete_comments' m.pk %}"
                        hx-target="#comments"
                        hx-swap="innerHTML">Видалити</button>
            {% endif %}
            <div id="reply-comment-{{ m.pk }}"></div>
            {% if m.all_replies > 0 %}
                <div id="reply-{{ m.pk }}">
                <button hx-get="{% url 'get_replies' %}"
                        hx-target="#reply-{{ m.pk }}"
                        hx-swap="innerHTML">Відкрити відповіді: {{ m.all_replies }}</button>
                </div>
            {% endif %}

        {% endfor %}
{% else %}
        <h3>Відповідей поки немає</h3>
{% endif %}


