{% for m in replies %}
<div>
    {% if m.reply_to %}
    <a href="{% url 'profile' m.username %}">{{ m.username }}</a>><a href="{% url 'profile' m.reply_to %}">{{ m.reply_to }}</a>
    {% else %}
    <a href="{% url 'profile' m.username %}">{{ m.username }}</a>
    {% endif %}
    <h2>{{ m.reply }}</h2>
    <div id="like-reply-{{ m.pk }}">
        {% if user.is_authenticated %}
                {% if m.id in likes_rep %}
                    <button hx-get="{% url 'delete_like_on_reply' m.pk %}"
                            hx-target="#like-reply-{{ m.pk }}"
                            hx-swap="innerHTML">Прибрати лайк {{ m.all_likes }}</button>
                {% elif m.id not in likes_rep %}
                    <button hx-get="{% url 'like_reply' m.pk %}"
                            hx-target="#like-reply-{{ m.pk }}"
                            hx-swap="innerHTML">Вподобати {{ m.all_likes }}</button>
                {% endif %}
        {% else %}
                 <form action="{% url 'login' %}">
                     <button>Вподобати {{ m.all_likes }}</button>
                 </form>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
            <button hx-get="{% url 'get_input_for_reply_on_reply' pk m.username %}"
                    hx-target="#reply-on-reply-{{ m.pk }}"
                    hx-swap="innerHTML">Відповісти</button>
    {% else %}
            <form action="{% url 'login' %}">
                <button class="" type="submit">Відповісти</button>
            </form>
    {% endif %}
    <div id="reply-on-reply-{{ m.pk }}"></div>
    {% if m.pk in reply_user %}
    <button hx-get="{% url 'delete_reply' m.pk %}"
            hx-target="#reply-{{ m.comment.pk }}"
            hx-swap="innerHTML">Видалити</button>
    {% endif %}
</div>
{% endfor %}

<div id="reply-comment-{{ pk }}"
     hx-swap-oob="true">
        <input type="text"
               name="reply"
               class="reply-input"
               placeholder="Введіть відповідь"
               hx-get="{% url 'create_reply' pk %}"
               hx-target="#reply-{{ pk }}"
               hx-swap="innerHTML">
</div>