{% load static %}
<div id="saves">
    <div class="grid-frameworks">
        {% for a in saved %}
            <div class="grid-frame">
                <a href="{{ a.detail.file.url }}">
                <h2>{{ a.detail.name }}</h2>
                <h3>{{ a.detail.description }}</h3>
                <button hx-get="{% url 'saves_delete' a.id %}"
                        hx-target="#saves"
                        hx-swap="innerHTML"><img src="{% static 'main/img/saves.png' %}" alt="Зберігти"></button></a>
            </div>
        {% endfor %}
    </div>
</div>
<div id="loader" class="htmx-indicator">Завантаження...</div>
<div hx-get="{% url 'saves_update' page %}"
     hx-target="#saves-content"
     hx-indicator="#loader"
     hx-swap="beforeend"
     hx-trigger="revealed"></div>