<div class="grid-container">
                <div class="grid-item"><a href="http://127.0.0.1:5500/1.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/2.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/3.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/4.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/5.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/6.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/7.html#">{{ query }}</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/8.html#">{{ query }}</a></div>
</div>