{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Вхід{% endblock %}
{% block content %}
<div class="auth-wrapper page-centered-container">
    <div class="auth-card glass-auth-card">
        <h2>Вхід у <span class="accent-text">FRAMELAB</span></h2>

        <form method="POST" class="auth-form custom-form">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            <button type="submit" id="auth_button">Увійти</button>
            <div class="form-links">
                <a href="{% url 'signup' %}" class="auth-link">Зареєструватися</a>
                <a href="{% url 'password_reset' %}" class="auth-link secondary">Забув пароль?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
