{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Встановлення нового пароля{% endblock %}
{% block content %}
<form method="POST" class="page-centered-container">
    <div class="get-reset glass-auth-card">
    <h5>Введіть новий пароль</h5>
         {% csrf_token %}

         <div class="custom-form text-left-align">
             <h6>Введіть пароль: </h6>
             <div class="form-field-wrapper">{{ form.new_password1 }}</div>

             <h6>Введіть знов: </h6>
             <div class="form-field-wrapper">{{ form.new_password2 }}</div>
         </div>

    <p class="margin-top-button"><button type="submit" id="auth_button">Зберегти</button></p>
    </div>
</form>
{% endblock %}
