<div class="form-wrapper glass-auth-card">
      <form hx-post="signup" class="register-form custom-form"
            hx-target="#signup"
            hx-swap="innerHTML">
        <h2>Реєстрація у <span class="accent-text">FRAMELAB</span></h2>
          {% csrf_token %}
          <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
        <button type="submit" id="auth_button">Зареєструватися</button>
      </form>
    </div>