{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Мої теми{% endblock %}
{% block content %}
<div id="topics">
    <div>
        {% for a in saved %}
        <a href="{{ a.get_absolute_url }}">
            <div>
                <img src="{{ a.detail.photo.url }}">
                <h3>{{ a.detail.name }}</h3>
                <button hx-get="{% url 'saves_delete' a.id %}"
                        hx-target="#topics"
                        hx-swap="innerHTML">Видалити</button>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}