{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Мій профіль{% endblock %}
{% block content %}
    <div class="profile">
        <div class="profile-info-side">
            {% if user.photo %}
                <img src="{{ user.photo.url }}">
            {% else %}
                <img src="{{ photo }}">
                <div class="user-names">
                    <b>{{ user.full_name }}</b>
                    <span>{{ user.username }}</span>
                </div>
            {% endif %}
            <a href="{% url 'saves' %}">Збережені</a>
            <a href="{% url 'update_profile' user.username %}">Оновити профіль</a>
            <a href="{% url 'delete_profile' user.username %}">Видалити профіль</a>
            <a href="{% url 'logout' %}">Вийти</a>
        </div>
    </div>


     <div class="profile-topics-side">
        {% if topics %}
            <div id="topics-user"></div>
            <div id="loader" class="htmx-indicator">Завантаження...</div>
            <div hx-get="{% url 'topic_update_user' page %}"
                 hx-target="#topics-user"
                 hx-indicator="#loader"
                 hx-swap="beforeend"
                 hx-trigger="load"></div>
        {% endif %}
    </div>
{% endblock %}