{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Мій профіль{% endblock %}
{% block content %}

    {% if user.photo %}
        <img src="{{ user.photo.url }}">
    {% else %}
        <img src="{{ photo }}">
        {{ user.full_name }}
        {{ user.username }}
    {% endif %}
    <a href="{% url 'saves' %}">Збережені</a>
    <a href="{% url 'update_profile' %}">Оновити профіль</a>
    <a href="{% url 'delete_profile' %}">Видалити профіль</a>
    <a href="{% url 'logout' %}">Вийти</a>
    <div id="topics-user"></div>
    {% if saved %}
    <div id="loader" class="htmx-indicator">Завантаження...</div>
    <div hx-get="{% url 'topic_update' page %}"
         hx-target="#topics-user"
         hx-indicator="#loader"
         hx-swap="beforeend"
         hx-trigger="revealed"></div>
    {% endif %}
{% endblock %}