{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ lang.name }}{% endblock %}

{% block content %}
<div id="content">
    <div class="grid-frameworks">
        {% for a in categories %}
            {% if a.category == frameworks %}
                    <div class="grid-frame"><a href="{{ a.file.url }}"></a>
                        <h2>{{ a.name }}</h2>
                        <h3>{{ a.description }}</h3>
                    {% if not a.id in saved and user.is_authenticated %}
                        <button name="update_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></button>
                    {% elif a.id in saved and user.is_authenticated %}
                        <button name="delete_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></button>
                    {% elif not user.is_authenticated %}
                        <button class=""><a href="{% url 'login' %}"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></a></button>
                    {% endif %}
                    </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="grid-libraries">
         {% for a in categories %}
            {% if a.category == libraries %}
            <div class="grid-frame"><a href="{{ a.file.url }}"></a>
                <h2>{{ a.name }}</h2>
                <h3>{{ a.description }}</h3>
                    {% if not a.id in saved and user.is_authenticated %}
                        <button name="update_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></button>
                    {% elif a.id in saved and user.is_authenticated %}
                        <button name="delete_slug"
                                value="{{ a.slug }}"
                                hx-get="{% url 'update_saved' show_cat %}"
                                hx-target="#content"
                                hx-swap="innerHTML"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></button>
                    {% elif not user.is_authenticated %}
                        <button class=""><a href="{% url 'login' %}"><img src="{% static 'main/img/save.png' %}" alt="Зберігти"></a></button>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}