{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Головна{% endblock %}

{% block content %}
<div id="main-content"
     hx-swap-oob="true">
        <div class="content-wrapper">
              <section class="hero-section">
                    <h1 class="main-title">Твій шлях у світ <span>програмування</span></h1>
                    <p class="subtitle">Опановуй мови, фреймворки та бібліотеки на інтерактивній платформі FRAMELAB.</p>

                    <div class="features-grid">
                        <div class="feature-card">
                            <div class="icon">🚀</div>
                            <h3>Що таке FRAMELAB?</h3>
                            <p>Це сучасна екосистема для навчання, де теорія поєднується з практикою.</p>
                        </div>
                        <div class="feature-card">
                            <div class="icon">📚</div>
                            <h3>Чому ми?</h3>
                            <p>Вивчаємо не лише синтаксис, а й популярні бібліотеки та фреймворки.</p>
                        </div>
                        <div class="feature-card">
                            <div class="icon">⏰</div>
                            <h3>Твій темп</h3>
                            <p>Навчайся у зручний час без дедлайнів та стресу.</p>
                        </div>
                    </div>
              </section>


                <div class="grid-container">
                    {% for a in languages %}
                    <div class="grid-item">
                        <a href="{{ a.get_absolute_url }}">
                        <img src="{{ a.photo.url }}" class="lang-icon">
                         <span>{{ a.name }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <footer class="footer" id="footer">
            <div class="footer-container">
                <div>
                    <span class="logo-foot"><a>FRAMELAB</a></span>
                    <p><b>FRAMELAB</b>-це онлайн-платформа <br> для вивчення мов програмування</p>
                </div>

                <div>
                    <h4>Навігація</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">Головна</a></li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Social Media</h4>
                    <ul>
                        <li><a href="#">Telegram</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</div>
{% endblock %}
