{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Головна{% endblock %}

{% block content %}
    <div class="grid-container">
                <div class="grid-item"><a href="http://127.0.0.1:5500/1.html#">C++</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/2.html#">C#</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/3.html#">Python</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/4.html#">JS</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/5.html#">Java</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/6.html#">PHP</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/7.html#">Ruby</a></div>
                <div class="grid-item"><a href="http://127.0.0.1:5500/8.html#">Go</a></div>
            </div>
{% endblock %}