{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Головна{% endblock %}

{% block content %}
<div id="main-content"
     hx-swap-oob="true">
        <div class="content-wrapper">

            <div class="txt1">
                <p><b>Що таке LOGO?</b></p>
                <p>LOGO — це онлайн-платформа для вивчення мов програмування. Сайт створений для тих, хто хоче почати свій шлях у програмуванні або покращити вже наявні знання.</p>

                <p><b>Що ви зможете вивчити на LOGO?</b></p>
                <p>На платформі ви зможете вивчати різні мови програмування та технології, які використовуються для створення сучасних сайтів і програм.</p>

                <p><b>Чому варто обрати LOGO?</b></p>
                <p>LOGO допомагає зробити навчання програмуванню простим та доступним. Ви можете навчатися у зручний для себе час.</p>
            </div>

                <div class="grid-container">
                    {% for a in languages %}
                    <div class="grid-item">
                        <a href="{{ a.get_absolute_url }}">{{ a.name }}</a>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <footer class="footer" id="footer">
            <div class="footer-container">
                <div>
                    <span class="logo-foot"><a>LOGO</a></span>
                    <p><b>LOGO</b>-це онлайн-платформа <br> для вивчення мов програмування</p>
                </div>

                <div>
                    <h4>Навігація</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">Головна</a></li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Social Media</h4>
                    <ul>
                        <li><a href="#">Telegram</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</div>
{% endblock %}
