{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Тема: {{ topic.username }}{% endblock %}
{% block content %}

<div>
        <h2>Автор: {{ topic.username }}</h2>
        <h1>{{ topic.name }}</h1>
        <h3>Категорія: {{ topic.category }}</h3>
        <h1>{{ topic.description }}</h1>
</div>
<div id="comment-input"
     hx-swap-oob="true">
{% if user.is_authenticated %}
    <input type="text"
           name="comment"
           class="comments-input"
           placeholder="Введіть коментар"
           hx-get="{% url 'create_comment' topic.id %}"
           hx-target="#comments"
           hx-swap="innerHTML">
{% else %}
    <a href="{% url 'login' %}">
        <input class="comments-input"
               placeholder="Введіть коментар"
               readonly>
    </a>
{% endif %}
</div>
<div id="comments">
    {% if comment %}
        {% for m in comment %}
            <a href="{% url 'profile' m.username %}">{{ m.username }}</a>
            <h2>{{ m.comment }}</h2>
            <div id="like-comment-{{ m.pk }}">
            {% if user.is_authenticated %}
                {% if m.id in likes_com %}
                    <button hx-get="{% url 'delete_like_on_comment' m.pk %}"
                            hx-target="#like-comment-{{ m.pk }}"
                            hx-swap="innerHTML">Прибрати лайк {{ m.all_likes }}</button>
                {% elif m.id not in likes_com %}
                    <button hx-get="{% url 'like_comment' m.pk %}"
                            hx-target="#like-comment-{{ m.pk }}"
                            hx-swap="innerHTML">Вподобати {{ m.all_likes }}</button>
                {% endif %}
            {% else %}
             <form action="{% url 'login' %}">
                 <button>Вподобати {{ m.all_likes }}</button>
             </form>
            {% endif %}
            </div>
            {% if user.is_authenticated %}
            <button hx-get="{% url 'get_input_for_reply' m.pk %}"
                    hx-target="#reply-comment-{{ m.pk }}"
                    hx-swap="innerHTML">Відповісти</button>
            <div id="reply-comment-{{ m.pk }}"
                 hx-swap-oob="true"></div>
            {% else %}
            <form action="{% url 'login' %}">
                <button class="" type="submit">Відповісти</button>
            </form>
            {% endif %}
            {% if m.pk in comment_user %}
                <button hx-get="{% url 'delete_comments' m.pk %}"
                        hx-target="#comments"
                        hx-swap="innerHTML">Видалити</button>
            {% endif %}
            <div id="reply-{{ m.pk }}">
            {% if m.all_replies > 0 %}
                <button hx-get="{% url 'get_replies' m.pk %}"
                        hx-target="#reply-{{ m.pk }}"
                        hx-swap="innerHTML">Відкрити відповіді: {{ m.all_replies }}</button>

            {% endif %}
            </div>
        {% endfor %}
    {% else %}
            <h3>Відповідей поки немає</h3>
    {% endif %}
</div>
{% endblock %}