.grid-container {
    margin:  0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: start;
    top: 10%;
    position: relative;
}

.grid-item {
    background: #533303;
    border-radius: 15px;
    padding: 30px;
    text-align: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    line-height: 10px;


}

.grid-container .grid-item a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: all 300ms ease;
}

.grid-container :hover {
    background-color: rgb(105, 77, 40);
}

.grid-container .grid-item a:hover {
    color: #db7822;
}