@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-weight: 400;
    color: #fff;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 5, 8, 1) 0%, rgba(189, 102, 26, 1) 100%);
    width: 100%;
    height: 1000px;;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    padding: 50px ;
}

header .logo {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    right: 200px;
}

header nav {
    float : right;
    width : 50%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    align-items: center;
    list-style: none;
    font-size: 17px;
}

header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #6c6518;
    border-radius: 15px;
}

header nav ul li a:hover {
    color: #5f605b;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #6c6518;
    border-radius: 5px;
}

header nav ul li.btn a {
    background: #6c6518;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 500ms ease;
    left: 200px;
    position: relative;

}

header nav ul li.btn a:hover {
    background: #db7822;
}


