@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #1C1917;
    width: 100%;
    color: #FAFAF9;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #FAFAF9;
}

header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

header .logo {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 700;
    flex-shrink: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    justify-content: flex-end;
}

header .form-control {
    width: 250px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
    border: none;
    padding: 0 15px;
    margin-right: auto;
    margin-left: 50px;
}

header nav ul {
    font-size: 16px;
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

header nav ul li a {
    color: #fff;
    transition: all 150ms ease;
    white-space: nowrap;
    position: relative;
    padding-bottom: 5px;
}

header nav ul li a:hover {
    color: #5f605b;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #323231;
    border-radius: 5px;
}

header nav ul li img {
    width: 38px;
    vertical-align: middle;
}

.prof {
    display: flex;
    align-items: center;
    gap: -25px;
    min-width: 220px;
    justify-content: flex-end;
}

.prof .btn a {
    background: #44403C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
}

.prof .btn a:hover {
    background: #2a2828;
    box-shadow: 0 6px 12px black;
}